.kinder_div{
    width: 20%;
    height: auto;
    padding: 20px;
    box-shadow: 1px 1px 5px 2px lightblue;
}
.kinder_div img{
    width: 100%;
    height: auto;
}

.parent_kinder{
   display: flex;
   flex-wrap: wrap;
   gap: 2vw;
}
.count{
    width: 20px;
    text-align: center;
}